.video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entry-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.enter-btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.enter-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ocean-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* FULL SCREEN */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
.marina-mic-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border: none;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease;
  z-index: 9999;
}

.marina-mic-btn:hover {
  transform: scale(1.05);
}

.marina-mic-btn.listening {
  background: #00c2ff;
  box-shadow: 0 0 25px #00c2ff;
  transform: scale(1.1);
}
